/**
 * Main container
 */
#main-container {
    position: absolute;
    top: 60px;
    height: 90%;
    width: 100%;
    text-align: center;
}

/**
 * Outer vertical align class
 */
.valign-middle-wrap {
    position:relative;
    height: inherit;
}

/**
 * Inner vertical align class
 */
.valign-middle {
    position: absolute;
    top: 50%;
    margin-top: -5em;
    text-align: center;
    width: 100%;
}

/**
 * Facebook login text
 */
#facebook-login p {
    text-align: center;
}

/**
 * Bottom right hand corner controls
 */
#controls {
    position: absolute;
    bottom: 0;
    right: 0;
}

/**
 * General widget
 */
.widget {
    background-color: #aaa;
}
