html, body {
    height: 100%;
    width: 100%;
}

body {
    background: #fff url('/img/gray_jean.png') repeat;
}

/**
 * Main container
 */
#main-container {
    position: absolute;
    top: 60px;
    height: 90%;
    width: 100%;
    text-align: center;
}

/**
 * Outer vertical align class
 */
.valign-middle-wrap {
    position:relative;
    height: inherit;
}

/**
 * Inner vertical align class
 */
.valign-middle {
    position: absolute;
    top: 50%;
    margin-top: -5em;
    text-align: center;
    width: 100%;
}

/**
 * Facebook login text
 */
#facebook-login p {
    text-align: center;
}

/**
 * Bottom right hand corner controls
 */
#controls {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
}

#controls-hidden a {
    margin-bottom: 5px;
}

/* Icon Rotation */
#controls i.icon-arrow-right {
    -webkit-transition: all .5s ease;
}

#controls:hover a i.icon-arrow-right {
    -webkit-transform: rotate(-90deg);
}

#controls-hidden {
    margin-bottom: 5px;
}

/**
 * General widget
 */
.widget {
    background-color: #fff;
    border-style: solid;
    border-width: 2px;
}
