#main-container {
    position: absolute;
    top: 60px;
    height: 90%;
    width: 100%;
    text-align: center;
}

.valign-middle-wrap {
    position:relative;
    height: inherit;
}

.valign-middle {
    position: absolute;
    top: 50%;
    margin-top: -5em;
    text-align: center;
    width: 100%;
}

#facebook-login p {
    text-align: center;
}
